<div class="card-body">
  <h1>{{pageTitle}}</h1>
  <form (ngSubmit)="saveHotel()" [formGroup]="hotelForm" novalidate>
    <fieldset>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hotelNameId">Hotel Name</label>
        <div class="col-md-9">
          <input class="form-control" id="hotelNameId" type="text" placeholder="Name (required)"
            formControlName="hotelName" />

        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hotelAddressId">Hotel Address</label>
        <div class="col-md-9">
          <input class="form-control" id="hotelAddressId" type="text" placeholder="Address (required)"
            formControlName="hotelAddress" />

        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hotelCityId">City</label>
        <div class="col-md-9">
          <input class="form-control" id="hotelCityId" type="text" placeholder="City (required)"
            formControlName="hotelCity" />


        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hotelPhoneNumberId">Phone number</label>
        <div class="col-md-9">
          <input class="form-control" id="hotelPhoneNumberId" type="text" placeholder="Phone Number (required)"
            formControlName="hotelPhoneNumber" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hotelStarsId">Stars</label>
        <div class="col-md-9">
          <input class="form-control" id="hotelStarsId" type="text" placeholder="Stars (required)"
            formControlName="hotelStars" />

        </div>
      </div>
      <div class="form-group no-gutters">
        <div class="col-md-12">
          <span>
            <button class="btn btn-primary" type="submit" [disabled]="!hotelForm.valid || !hotelForm.dirty">
              Save
            </button>
          </span>
          <span>
              <button class="btn btn-danger ml-1"  *ngIf="hotel && hotel.id" (click)="deleteHotel()" >
                Delete
              </button>
            </span>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>