<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{pageTitle}}</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/'>Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/hotels'>Hotel List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink='/hotels/new'>New hotel</a>
        </li>
    </ul>
  </div>
</nav>