<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Stars</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hotel of hotels">
      <th scope="row">{{hotel.id}}</th>
      <td>{{hotel.hotelName}}</td>
      <td>{{hotel.hotelAddress}}</td>
      <td>{{hotel.hotelCity}}</td>
      <td>{{hotel.hotelPhoneNumber}}</td>
      <td>{{hotel.hotelStars}}</td>
      <td>
        <a
          routerLink='/hotels/edit/{{hotel.id}}' 
          class="btn btn-warning">Edit</a>
      </td>
    </tr>
  </tbody>
</table>